* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

section {
  position: absolute;
  top: 0;
  background-color: beige;
  h1 {
    color: purple;
    text-align: center;
  }
}

